/* header */
.home-header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.date-nav {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
}
.date-nav-btn {
    font-size: inherit;
}
.header-content {
    background-color: var(--accent-color-pink-pale);
    padding: 2rem 4rem;
    border-radius: 10px;
    font-family: var(--body-font);
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}
.header-text {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
.add-entry-btn {
    display: flex;
    justify-content:center ;
    background-color: var(--bg-color);
    padding: 2.5rem;
    border-radius: 50%;
    position: relative;
    bottom: 2rem;
    transition: transform 0.3s ease;
    border: 1px solid var(--accent-color-pink-pale);
}
.add-entry-btn:after,
.add-entry-btn:before {
    content: '';
    position: absolute;
    background-color: var(--accent-color-pink-pale); 
    width: 40%;
    height: 3px; 
    border-radius: 2px; 
}

.add-entry-btn {
    transform: rotate(0deg); /* Horizontal bar */
}

.add-entry-btn:after {
    transform: rotate(90deg); /* Vertical bar */
}

.add-entry-btn:hover {
    transform: scale(1.1); /* Slight zoom effect */
}
@media screen and (max-width: 47rem) {
    .add-entry-btn {
        padding: 2rem;
    }
}
@media screen and (max-width: 40rem) {
    .header-content {
        padding: 1.25rem 2.5rem;
    }
    .add-entry-btn {
        padding: 2rem;
    }
}
@media screen and (max-width: 30rem) {
    .add-entry-btn {
        padding: 1.75rem;
    }
}