.toggle-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

/* hide the default checkbox appearance */
.toggle-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* add toggle switch instead */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    transition: background-color 0.2s;
    cursor: pointer;
}

/* the slider/knob of the toggle switch */
.toggle-switch::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
}

/* when the checkbox is checked, change the background */
.toggle-input:checked+.toggle-switch {
    background-color: var(--accent-color-blue);
}

/* move the knob when checked */
.toggle-input:checked+.toggle-switch::after {
    transform: translateX(26px);
}

/*focus styles for accessibility */
.toggle-input:focus+.toggle-switch {
    box-shadow: 0 0 2px 2px var(--accent-color-blue);
}


.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.settings-list {
    position: relative;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    margin: 2rem 1rem 0 1rem;
    padding: 1.5rem 1.5rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--font-color);
}

.profile,
.toggle-container,
.notifications {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.25rem;
}

.settings-list li,
.settings-list div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile li,
.toggle-container label,
.notifications li {
    color: var(--font-color-80);
    transition: color 0.3s ease;
}

.profile li:hover,
.toggle-container label:hover,
.notifications li:hover {
    color: var(--font-color);
}

.profile::after,
.toggle-container::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--font-color-40);
    opacity: 0.5;
    margin-left: -0.1rem;
}

/* delete account modal */
.delete-account-container,
.export-data-container,
.push-notifications-container {
    background-color: var(--bg-color);
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    position: relative;
}

.text-two,
.tip,
.main-text {
    font-size: 0.6rem;
    text-align: center;
}

.main-text,
.input-label {
    font-size: 0.8rem;
}

.tip {
    margin-top: 1rem;
}

.delete-account-btn,
.export-data-btn,
.save-btn {
    padding: 0.8rem 2rem;
    background-color: var(--accent-color-blue);
    color: var(--bg-color);
    border: 1px solid var(--font-color-80);
    font-size: 0.9rem;
    border-radius: 20px;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease-in;
}

.delete-account-btn:hover {
    background-color: var(--font-color-80);
    transform: scale(1.05);
}

/* export data modal */

.export-data-btn,
.save-btn {
    background-color: var(--accent-color-blue);
    border: 1px solid var(--accent-color-blue);
}

.export-data-btn:hover,
.save-btn:hover {
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color-blue);
    color: var(--accent-color-blue);
}

/* push notifs */
.push-notifications-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.time-input {
    font-size: 0.8rem;
    border: none;
    padding: 0 0;
}

.time-input:focus {
    border-radius: 10px;
}

.save-btn {
    padding: 0.5rem 2rem;
}

/* profile info */
.profile-container {
    font-size: 0.9rem;
    background-color: var(--bg-color);
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.editable-field-container {
    display: flex;
    padding: 0.8rem;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 100%;
}

.field-input-wrapper {
    display: flex;
    gap: 0.5rem;
}

.field-label {
    font-weight: 600;
}

.editable-false,
.editable-true {
    font-size: 0.9rem;
    
}

.editable-field-container:hover {
    background-color: var(--bg-color-darkened-1);
}

.editable-true {
    flex: 1;
    min-width: 13rem;
    font-size: 0.9em;
    padding: 0.2rem 0.4rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.editable-false {
    width: 14rem;
}

.edit-btn {
    border: 1px solid var(--font-color-40);
    border-radius: 10px;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    background: #f0f0f0;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.2s;
}

.edit-btn:hover {
    background-color: var(--primary-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.back-btn {
    font-size: 1.5rem;
    color: var(--font-color-60);
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    transition: color 0.3s ease, transform 0.3s ease-in;
    z-index: 100;
}

.back-btn:hover {
    color: var(--font-color);
    transform: scale(1.1);
}