/* entry header */
.entry-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    text-align: center;
}

.date-picker-container {
    color: var(--accent-color-blue);
    display: flex;
    gap: 0.3rem;
}

.mood-options {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.mood-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    max-width: 20rem;
    min-width: 8rem;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    background-color: var(--bg-color);
    border-radius:50%;
    font-size: clamp(0.8rem, 2vw, 1rem) ;
    transition: background-color 0.3s, transform 0.2s;
}

.mood-button:hover {
    border: 1px solid var(--secondary-color);
    transform: scale(1.1);
}

.selected {
    background-color: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
}

.calendar-icon {
    width: 1.35rem;
    height: auto;
}

.mood-emoji {
    width: 4rem;
}
@media screen and (max-width: 40rem) {
    .mood-options {
        gap: 0.5rem;
    }
    .mood-button {
        min-width: 4rem;
        padding: 1.2rem;
    }
    .mood-emoji {
        width: 3rem;
    }
}
/* entry main */
.entry-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    text-align: center;
}
.fieldset {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 20px;
}
.legend {
    color: var(--font-color-90);
    font-size: 0.9rem;
}

.error, .success{
    margin-top: 1rem;
    text-align: center;
}

.error {
    color: var(--error-color);
}