/* date picker component */
.custom-input:hover {
    text-decoration: underline;
}

:global(.react-datepicker),
:global(.react-datepicker__header) {
    background-color: var(--bg-color);
    border: 1px solid #ccc;
}

:global(.react-datepicker__day--selected) {
    background-color: var(--accent-color-blue);
    color: white;
}

:global(.react-datepicker__input-container input) {
    display: none;
}

:global(.react-datepicker__day--outside-month) {
    color: var(--font-color-60);
}

/* multi select button group */

.options {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    color: var(--font-color-70);
    align-items: center;
    justify-content: center;
}
.option-icon {
    height: 2rem;
    width: auto;
}
.option-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: clamp(0.6rem, 2vw, 0.7rem);
    transition: background-color 0.3s;
}
.option-button:hover {
    border: 1px solid var(--primary-color);
}
.selected {
    background-color: var(--primary-color);
    color: white;
}

@media screen and (max-width:40rem) {
    .option-icon {
        height: 1.5rem;
        width: auto;
    }
    .option-button {
        width: 4.3rem;
        height: 4.3rem;
        font-size: 0.63rem;
    }
}

/* note field */

.note-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.3rem;

}

.label {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
    margin-right: auto;

}

.note-icon {
    width: 1.5rem;
}

.textarea {
    max-width: 60rem;
    height: 10rem;
    border-radius: 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
}

/* photo uploader */

.photo-uploader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.add-photo-icon {
    width: 1.5rem;
}

.button-group {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.upload-button {
    padding: 0.8rem 1.6rem;
    background-color: var(--bg-color);
    color: var(--accent-color-blue);
    border: 1px solid var(--accent-color-blue);
    font-size: 0.9rem;
    border-radius: 10px;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.upload-button:hover {
    transform: scale(1.1);
}
.upload-icon {
    width: 1.5rem;
}
.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: auto;
    border: 3px solid var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 8px;
}

.preview-image {
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width:22rem) {
    .button-group {
        flex-direction: column;
    }
    .photo-uploader {
        width: 70vw;
    }   
}

/* submit button */

.submit {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-button {
    background-color: var(--accent-color-blue);
    color: var(--bg-color);
    padding: 1rem;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.submit-button:hover {
    transform: scale(1.1);
    background-color: var(--secondary-color);
    
}

.text {
    color: var(--accent-color-blue);
}